/* App wide */
.App {
    position: relative;
    display: block;
    color: white;
    width: 100%;
  }
  
  .page {
    position: absolute;
    top: 10vh;
    right: 0;
    left: 0;
    margin-left: 250px;
    /* width: 100%;
    height: 100%; */
    justify-content: center;
    color:#747f8a
  }
  
  #body-row {
    margin-left:0;
    margin-right:0;
  }
  
  /* Site Top Header */
  nav {
    min-height: 5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    position: relative;
  }
  
  .nav-item {
    font-size: 1.25rem;
  }
  
  .nav-link {
    color: white;
    cursor: pointer;
    background-color:	#536779;
  }
  
  .buttonDisabled {
    cursor: text !important;
    text-decoration: None !important;
  }
  
  .linkbtn {
    margin-left: 1rem;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  .active {
    color: white !important;
  }
  
  /* Side Nav */
  
  .sidenav {
    height: 100%;
    width: 250px;
    margin: 0;
    padding: 0;
    background-color: #747f8a;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  .sticky-offset {
    top: 75px;
  }
  
  .navlist {
    height: auto;
    width: 100%;
    padding: 0;
  }
  
  .navlist .navrow {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .navlist .navrow:hover {
    cursor: pointer;
    background-color: #536779;
    color: white;
  }
  
  .navlist #active {
    background-color: #536779;
    color: white;
  }
  
  .navrow #icon {
    flex: 30%;
    display: grid;
    place-items: center;
  }
  
  .navrow #category {
    flex: 70%;
  }
  
  /* Front Landing Page */
  
  #hello-user {
    color: lightgray
  }
  
  .landing-content {
    top: 12rem;
    position: relative;
    color:#2f4050
  }
  
  #title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
  }
  
  #solgan {
    margin-top: 5rem;
  }
  
  #landing-nav {
    margin-top: 5rem;
  }
  
  .login {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .register {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    font-weight: bold;
  }
  
  .nav-pills .nav-item {
    border: 1px solid black;
    background-color: #747f8a;
  }
  
  .nav-pills .nav-item:hover {
    box-shadow: 1px 1px 5px whitesmoke;
  }
  
  .nav-link:hover {
    color: rgb(126, 42, 42);
  }
  
  /* Content Styling */
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    width: 400px;
    height: 60px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .card {
    display: flex;
    border: 0.5px solid #2f4050;
    border-radius: 15px;
    background-color:  #fff;
    padding: 0px;
    margin: 10px;
  }
  
  .card-body {
    text-align: left;
    align-items: center;
  }
  
  .question-body:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 15px;
  }
  
  .card-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 3rem;
    border-top:  0.5px solid rgb(197, 196, 196);
  }
  
  .card-button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .card-button.left:hover {
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px #747f8a;
    border-bottom-left-radius: 15px;
  }
  
  .card-button.right:hover {
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px #747f8a;
    border-bottom-right-radius: 15px;
  }
  
  #updateInput {
    width: 100px;
    height: 20px;
  }
  
  .page-header {
    height: 250px;
    background-color: #747f8a;
  }
  
  .category-box {
    background-color: #fff;
    border: 0.5px solid rgb(197, 196, 196);
    border-radius: 15px;
    margin-top: 2rem;
  }
  
  .category-box .cat-cell {
    margin: 1rem;
  }
  
  .category-box .cat-cell:hover {
    box-shadow: 1px 1px 5px #fff;
    border-radius: 15px;
  }
  
  .main-button {
    
    border: 1px solid black;
    background-color: #293846;
  }
  
  #askButton {
  margin: 5px;
  }
  
  #askButton-li:hover {
    background-color: #2f4050;
  }
  
  .main-button:hover {
    box-shadow: 1px 1px 8px whitesmoke;
    background-color: #4d4e50;
  }
  
  #answer-form {
    margin-top: 2rem;
  }
  
  #answer-list {
    margin-top: 2rem;
  }
  
  .list-group-item {
    background-color: #fff;
    border: 1px solid lightgray;
  }
  
  .badge {
    background-color: #ca2f00ee;
    color:#fff;
  }
