body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

